
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li> <a class="hover">selected Users</a></li>
    <li> <a class="hover">selected Works</a></li>
 
    <li> <a class="hover">three</a></li>
  </ul>



  <nav class="color">
    <div class="nav-wrapper">
      <div class="brand-logo">torre</div>
      <ul class="right hide-on-med-and-down">
     
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>