
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">

    <li> <a  routerLink="/layout/selectedUsers"  class="hover">selected Users</a></li>
    <!-- <li> <a  routerLink="/layout/selectedUsers"  class="hover">selected Works</a></li> -->
    <li> <a  routerLink="/layout" class="hover">Search People</a></li>

  </ul>



  <nav class="color">
    <div class="nav-wrapper">
      <div class="brand-logo">torre</div>
      
      <a style="margin-left:45%"  class="hover" routerLink="/layout">Search People</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > <a  class="hover"  routerLink="/layout/selectedUsers"  >Selected Users</a></li>
        <!-- <li> <a  routerLink="/layout/selectedUsers"  class="hover">selected Works</a></li> -->
        <li > <a  class="hover"   routerLink="/layout" >Search People</a></li>
      </ul>
    </div>
  </nav>

