.color{
    background-color: #37474f;
    color: #cddc39
}

.dropdown-trigger{
    background-color: #37474f;
    color: #cddc39;
    width: 150px;
}

.dropdown-content{
    background-color: #37474f;
    color: #cddc39;

}

.hover:hover{

    color: #cddc39;
  
}

.brand-logo{
    margin-left: 2%;
}