.margin{ 
    margin-top: 75px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.card{
    background-color: #78909c     ;
}

.colorBTN{
    background-color: #37474f;
    color: #cddc39
}


.progress{
    background-color: #37474f;
    color: #cddc39
}